*.xlog
*.snap
/.rocks/*
.rocks/*
*.vylog
/db
/user/drivers/*
/user/events_scripts/*
/user/menu/*
/user/timer_scripts/*
/user/webevents_scripts/*
/user/html/*
/user
/backup
/glue.code-workspace
/dump
/docs/package-lock.json
/docs/node_modules
/docs/dist
/docs/.vuepress/dist
/tests/logs
/debian/temp_deb_packet_create
