<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Nokia IMPACT</title>

    <!-- Bootstrap core CSS -->
    <link href="system-css/bootstrap.min.css" rel="stylesheet">
    <link href="fontawesome/fontawesome-all.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="system-css/dashboard.css" rel="stylesheet">
    <link href="local_settings.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-3 mr-0" href="#"><img src="logo_nokia.svg" class="logo" style="height: 18px;margin-left: 10px;margin-bottom: 4px;margin-right: 15px;" alt="Nokia Logo">IMPACT GLUE</a>
        <a style="color:#6aa0da;padding-right:20px;">
            <i class="fab fa-github"></i>
            <%= git_version %>
        </a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-1 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        % for i,v in pairs(menu) do
                        <li class="nav-item">
                            <a class="nav-link <%= (v.class or " ")%>" href="<%= v.href or '#' %>">
                                      <i class="<%= (v.icon or "") %>"></i>
                                      <%= (v.name or "No name") %>
                                  </a>
                        </li>
                        % end
                    </ul>
                </div>
                <footer class="text-muted text-center text-small">
                    <p class="mb-1">Nokia EE IoT Laboratory &copy; 2018</p>
                </footer>
            </nav>

            <main role="main" class="col-md-11 ml-sm-auto col-lg-11 pt-3 px-4">
                <h2 class="text-center">Bus storage</h2>
                <div class="table-responsive">
                    <table class="table table-sm table-striped table-bordered" id="table_values_bus_storage"></table>
                </div>


            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="system-js/jquery-slim.min.js"></script>
    <script src="system-js/popper.min.js"></script>
    <script src="system-js/bootstrap.min.js"></script>
    <script src="js/table.js"></script>

    <script>
        var xhr_tmr = new XMLHttpRequest();
        var old_values = {};

        function update_field_callback() {
            if (xhr_tmr.readyState == 4 && xhr_tmr.status == 200) {
                var json_data = JSON.parse(xhr_tmr.responseText);
                if (json_data.none_data != "true") {
                    //console.log(json_data)
                    clear_table("table_values_bus_storage")
                    add_row_table("table_values_bus_storage", "head", ["Topic", "Update time", "TSDB save", "Value"], undefined, [60, 30, 10])
                    for (let index = 0; index < json_data.length; index++) {
                        if (old_values[json_data[index].topic] == json_data[index].value) {
                            add_row_table("table_values_bus_storage", "body", [json_data[index].topic, json_data[index].timestamp, json_data[index].tsdb_save, json_data[index].value])
                        } else {
                            add_row_table("table_values_bus_storage", "body", [json_data[index].topic, json_data[index].timestamp, json_data[index].tsdb_save, json_data[index].value], "bus_colored")
                        }
                        old_values[json_data[index].topic] = json_data[index].value
                    }
                }
            }
            if (xhr_tmr.readyState == 4) {
                setTimeout(timer_update_field, 1000)
            }
        }

        function timer_update_field() {
            xhr_tmr.open('POST', 'system_bus_data', true);
            xhr_tmr.send()
        }

        xhr_tmr.onreadystatechange = update_field_callback
        timer_update_field()
    </script>


</body>

</html>