<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Nokia IMPACT</title>

    <!-- Bootstrap core CSS -->
    <link href="system-css/bootstrap.min.css" rel="stylesheet">
    <link href="fontawesome/fontawesome-all.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="system-css/dashboard.css" rel="stylesheet">
    <link href="local_settings.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-3 mr-0 develop-menu-subclass" style="color: #FFFFFF;"><img src="logo_nokia.svg" class="logo" style="height: 18px;margin-left: 10px;margin-bottom: 4px;margin-right: 15px;" alt="Nokia Logo">IMPACT GLUE</a>
        <a style="color:#6aa0da;padding-right:20px;" href="https://github.com/vvzvlad/tarantool_iot_scada">
            <i class="fab fa-github"></i>
            <%= git_version %>
        </a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-1 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        % for i,v in pairs(menu) do
                        <li class="nav-item">
                            <a class="nav-link <%= (v.class or " ")%>" href="<%= v.href or '#' %>">
                                      <i class="<%= (v.icon or "") %>"></i>
                                      <%= (v.name or "No name") %>
                                  </a>
                        </li>
                        % end
                    </ul>
                </div>
                <footer class="text-muted text-center text-small">
                    <p class="mb-1">Nokia EE IoT Laboratory &copy; 2018</p>
                </footer>
            </nav>

            <main role="main" class="col-md-11 ml-sm-auto col-lg-11 pt-3 px-4">

                <form>
                    <div class="row input-group">
                        <div class="col-md-11 mb-1">
                            <button type="button" action-button="wipe_storage" class="btn btn-success btn-action"><i class="fas fa-exclamation-triangle"></i>  Wipe storage and stop</button>
                            <button type="button" action-button="tarantool_stop" class="btn btn-success btn-action"><i class="far fa-stop-circle"></i>  Tarantool stop</button>
                            <button type="button" action-button="update" class="btn btn-success btn-action"><i class="fas fa-cloud-download-alt"></i>  GLUE update</button>
                            <button type="button" id="edit_menu_button" class="btn btn-success"><i class="fas fa-edit"></i>  Edit user menu</button>
                        </div>
                    </div>

                </form>

            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="system-js/jquery-slim.min.js"></script>
    <script src="system-js/popper.min.js"></script>
    <script src="system-js/bootstrap.min.js"></script>
    <script src="js/action_button.js"></script>
    <script src="js/main.js"></script>

    <script>
        button_action_init("system_actions", "btn-action");


        function edit_menu_action(event) {
            location.href = '/system_webedit_edit?address=menu/user_menu.lua';
        }
        $('#edit_menu_button').on('click', edit_menu_action);
    </script>


</body>

</html>