<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="manifest" href="favicon/site.webmanifest">
	<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<title>IMPACT Glue</title>

	<!-- Bootstrap core CSS -->
	<link href="system-css/bootstrap.min.css" rel="stylesheet">
	<link href="fontawesome/fontawesome-all.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="system-css/dashboard.css" rel="stylesheet">
	<link href="local_settings.css" rel="stylesheet">
	<link href="system-css/table.css" rel="stylesheet">
	<script src="system-js/vue_2_5_16.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
		<a class="navbar-brand col-sm-3 col-md-3 mr-0 develop-menu-subclass" style="color: #FFFFFF;"><img src="logo_nokia.svg" class="logo" style="height: 18px;margin-left: 10px;margin-bottom: 4px;margin-right: 15px;" alt="Nokia Logo">IMPACT GLUE</a>
		<a style="color:#6aa0da;padding-right:20px;" href="https://github.com/vvzvlad/tarantool_iot_scada">
            <i class="fab fa-github"></i>
            <%= git_version %>
        </a>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-1 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<div id="dynamenu-instance">
							<li v-for="menuitem in menuitems">
								<dynamenu-component :item="menuitem"></dynamenu-component>
							</li>
						</div>
					</ul>
				</div>
				<footer class="text-muted text-center text-small">
					<p class="mb-1">Nokia EE IoT Laboratory &copy; 2018</p>
				</footer>
			</nav>

			<main role="main" class="col-md-11 ml-sm-auto col-lg-11 pt-2 px-1">


				<!-- component template -->
				<script type="text/x-template" id="grid-template">
					<div class="table-responsive">
						<table class="table table-sm table-striped table-bordered">
							<thead>
								<tr>
									<th width="4%">№</th>
									<th width="21%">Time</th>
									<th width="5%">Level</th>
									<th width="55%">Record</th>
									<th width="15%">Source</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="entry in data">
									<td>{{entry.key}}</td>
									<td>{{entry.date}}</td>
									<td>{{entry.level}}</td>
									<td>{{entry.entry}}</td>
									<td>{{entry.source}}</td>

								</tr>
							</tbody>
						</table>
					</div>
				</script>

				<!-- table root element -->
				<div id="vtable">
					<div class="row col-md-12 px-1 pb-0 mx-1 d-flex justify-content-between">
						<div class="mx-2">
							<button type="button" v-bind:class="{ highlight : deletesuccess  }" id="clearlogsbutton" action-button="delete_logs" @click="Clearlogs" class="btn btn-success btn-action"><i class="fas fa-trash-alt"></i>  Clear logs</button>
						</div>

						<div class="mx-2">
							<nav>
								<ul class="pagination">
									<li class="page-item  page-info" v-bind:class='{ active: filterkey === "ERROR" }' @click='Updatefilterkey("ERROR")'><a class="page-link" href="#">Error</a></li>
									<li class="page-item " @click='Updatefilterkey("WARNING")' v-bind:class='{ active: filterkey === "WARNING" }'><a class="page-link" href="#">Warning</a></li>
									<li class="page-item " @click='Updatefilterkey("INFO")' v-bind:class='{ active: filterkey === "INFO" }'><a class="page-link" href="#">Info</a></li>
									<li class="page-item " @click='Updatefilterkey("USER")' v-bind:class='{ active: filterkey === "USER" }'><a class="page-link" href="#">User</a></li>
									<li class="page-item  " @click='Updatefilterkey("ALL")' v-bind:class='{ active: filterkey === "ALL" }'><a class="page-link" href="#">All</a></li>
								</ul>
							</nav>
						</div>

					</div>

					<vue-grid :data="gridData" :updateinterval="interval">
					</vue-grid>
				</div>

			</main>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="system-js/jquery-slim.min.js"></script>
	<script src="system-js/popper.min.js"></script>
	<script src="system-js/bootstrap.min.js"></script>
	<script src="js/vueloggertable.js"></script>
	<script src="js/menu.js"></script>


</body>

</html>
