<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>IMPACT Glue</title>

    <!-- Bootstrap core CSS -->
    <link href="system-css/bootstrap.min.css" rel="stylesheet">
    <link href="fontawesome/fontawesome-all.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="system-css/dashboard.css" rel="stylesheet">
    <link href="local_settings.css" rel="stylesheet">


    <style type="text/css" media="screen">
        #editor {
            zoom: 1.25;
            height: 800px;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-3 mr-0 develop-menu-subclass" style="color: #FFFFFF;"><img src="logo_nokia.svg" class="logo" style="height: 18px;margin-left: 10px;margin-bottom: 4px;margin-right: 15px;" alt="Nokia Logo">IMPACT GLUE</a>
        <a style="color:#6aa0da;padding-right:20px;" href="https://github.com/vvzvlad/tarantool_iot_scada">
            <i class="fab fa-github"></i>
            <%= git_version %>
        </a>
    </nav>

    <div class="container-fluid">
        <nav class="col-md-1 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    % for i,v in pairs(menu) do
                    <li class="nav-item">
                        <a class="nav-link <%= (v.class or " ")%>" href="<%= v.href or '#' %>">
                                   <i class="<%= (v.icon or "") %>"></i>
                                   <%= (v.name or "No name") %>
                               </a>
                    </li>
                    % end
                </ul>
            </div>
            <footer class="text-muted text-center text-small">
                <p class="mb-1">Nokia EE IoT Laboratory &copy; 2018</p>
            </footer>
        </nav>

        <main role="main" class="col-md-11 ml-sm-auto col-lg-11 pt-2 px-1">
            <div class="col-md-11 mb-1">
                <button type="button" id="goto_list" class="btn btn-success"><i class="fas fa-arrow-left"></i> Return</button>
                <button type="button" id="save_file" class="btn btn-info"><i class="fas fa-save"></i> Save file</button>
                <button type="button" id="reload" class="btn btn-warning"><i class="fas fa-sync-alt"></i> Reload</button>
            </div>
        </main>

        <div class="ml-sm-auto col-lg-11 pt-1 border">
            <pre id="editor"></pre>
        </div>


    </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="system-js/jquery-slim.min.js"></script>
    <script src="system-js/popper.min.js"></script>
    <script src="system-js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/table.js"></script>
    <script src="ace/ace.js"></script>

    <script>
        var editor;


        function save_file() {
            var current_url = new URL(window.location.href);
            var button_xhr = new XMLHttpRequest();

            function xhr_result() {
                if (button_xhr.readyState == 4) {
                    if (button_xhr.status == 200) {
                        var json_data = JSON.parse(button_xhr.responseText);
                        if (json_data.result == true) {
                            button_color($('#save_file'), "success");
                            update_editor()
                            setTimeout(function(event) {
                                button_color($('#save_file'), "info")
                            }, 500);
                        } else
                            button_color($('#save_file'), "danger")
                    } else {
                        button_color($('#save_file'), "danger")

                    }
                }
            }

            button_xhr.onreadystatechange = xhr_result
            button_xhr.open('POST', 'system_webedit_data?item=save&address=' + current_url.searchParams.get("address"), true);
            button_xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            var text = editor.getValue();
            var blob = new Blob([text], {
                type: 'text/plain'
            });
            button_xhr.send(blob)

            //var text = "file=" + text;
            //button_xhr.send(text)
            button_color($('#save_file'), "warning")

        }

        function editor_init() {
            editor = ace.edit("editor");
            editor.setTheme("ace/theme/crimson_editor");
            editor.session.setMode("ace/mode/lua");
            editor.session.setUseWrapMode(true);
            editor.session.setWrapLimitRange(null);
            editor.setShowPrintMargin(false);
            editor.setFontSize(10);
            editor.commands.addCommand({
                name: 'Save file',
                bindKey: {
                    win: 'Ctrl-S',
                    mac: 'Command-S'
                },
                exec: function(editor) {
                    save_file();
                }
            });
        }

        function update_editor() {
            var xhr_file_field = new XMLHttpRequest();
            var current_url = new URL(window.location.href);

            function update_editor_callback() {
                if (xhr_file_field.readyState == 4 && xhr_file_field.status == 200) {
                    var blob = xhr_file_field.response;
                    const reader = new FileReader();
                    reader.addEventListener('loadend', (e) => {
                        const text = e.srcElement.result;
                        editor.setValue(text);
                        editor.selection.clearSelection();
                    });

                    reader.readAsText(blob);


                }
            }

            xhr_file_field.onreadystatechange = update_editor_callback;
            xhr_file_field.open('POST', 'system_webedit_data?item=get&address=' + current_url.searchParams.get("address"), true);
            xhr_file_field.responseType = "blob";
            xhr_file_field.send();
        }





        editor_init()
        update_editor()

        $('#save_file').on('click', save_file);

        $('#goto_list').on('click', function(event) {
            history.back();
        });
        $('#reload').on('click', function(event) {
            location.href = location.href;
        });
    </script>

</body>

</html>