<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>IMPACT Glue</title>

    <!-- Bootstrap core CSS -->
    <link href="system-css/bootstrap.min.css" rel="stylesheet">
    <link href="fontawesome/fontawesome-all.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="system-css/dashboard.css" rel="stylesheet">
    <link href="local_settings.css" rel="stylesheet">
    <script src="system-js/vue_2_5_16.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-3 mr-0 develop-menu-subclass" style="color: #FFFFFF;"><img src="logo_nokia.svg" class="logo" style="height: 18px;margin-left: 10px;margin-bottom: 4px;margin-right: 15px;" alt="Nokia Logo">IMPACT GLUE</a>
        <a style="color:#6aa0da;padding-right:20px;" href="https://github.com/vvzvlad/tarantool_iot_scada">
            <i class="fab fa-github"></i>
            <%= git_version %>
        </a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-1 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">

                        <div id="dynamenu">
                            <li v-for="menuitem in menuitems">
                                <a class="nav-link" v-bind:href="menuitem.href">
                                    <i v-bind:class="menuitem.icon"></i> {{menuitem.name}}
                                </a>
                            </li>
                        </div>

                    </ul>
                </div>
                <footer class="text-muted text-center text-small">
                    <p class="mb-1">Nokia EE IoT Laboratory &copy; 2018</p>
                </footer>
            </nav>



            <main role="main" class="col-md-11 ml-sm-auto col-lg-11 pt-3 px-4">

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-driver-tab" data-toggle="tab" href="#nav-driver" role="tab" aria-controls="nav-driver" aria-selected="true">Driver scripts</a>
                        <a class="nav-item nav-link" id="nav-webevents-tab" data-toggle="tab" href="#nav-webevents" role="tab" aria-controls="nav-webevents" aria-selected="false">Web-events scripts</a>
                        <a class="nav-item nav-link" id="nav-events-tab" data-toggle="tab" href="#nav-events" role="tab" aria-controls="nav-events" aria-selected="false">Events scripts</a>
                        <a class="nav-item nav-link" id="nav-timers_scripts-tab" data-toggle="tab" href="#nav-timers_scripts" role="tab" aria-controls="nav-timers_scripts" aria-selected="false">Timers scripts</a>
                        <a class="nav-item nav-link" id="nav-user_html-tab" data-toggle="tab" href="#nav-user_html" role="tab" aria-controls="nav-user_html" aria-selected="false">User HTML</a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-driver" role="tabpanel" aria-labelledby="nav-driver-tab">
                        <div class="table-responsive">
                            <table class="table table-sm table-hover table-striped table-bordered" id="driver_list_table"></table>
                        </div>
                        <form class="form-inline">
                            <input class="form-control mb-2 mr-sm-2" id="new_driver_form" type="text" placeholder="driver_name">
                            <button type="button" id="new_driver" filename-id="new_driver_form" class="btn btn-success button_new_sub_class mb-2 mr-sm-2"><i class="far fa-file"></i> Create driver script</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="nav-webevents" role="tabpanel" aria-labelledby="nav-webevents-tab">
                        <div class="table-responsive">
                            <table class="table table-sm table-hover table-striped table-bordered" id="webevents_list_table"></table>
                        </div>
                        <form class="form-inline">
                            <input class="form-control mb-2 mr-sm-2" id="new_webevent_form" type="text" placeholder="webevent_name">
                            <button type="button" id="new_webevent" filename-id="new_webevent_form" class="btn btn-success button_new_sub_class mb-2 mr-sm-2"><i class="far fa-file"></i> Create web-event script</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab">
                        <div class="table-responsive">
                            <table class="table table-sm table-hover table-striped table-bordered" id="events_list_table"></table>
                        </div>
                        <form class="form-inline">
                            <input class="form-control mb-2 mr-sm-2" id="new_event_form" type="text" placeholder="event_name">
                            <button type="button" id="new_event" filename-id="new_event_form" class="btn btn-success button_new_sub_class mb-2 mr-sm-2"><i class="far fa-file"></i> Create event script</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="nav-timers_scripts" role="tabpanel" aria-labelledby="nav-timers_scripts-tab">
                        <div class="table-responsive">
                            <table class="table table-sm table-hover table-striped table-bordered" id="timers_scripts_list_table"></table>
                        </div>
                        <form class="form-inline">
                            <input class="form-control mb-2 mr-sm-2" id="new_timer_script_form" type="text" placeholder="timer_script_name">
                            <button type="button" id="new_timer_script" filename-id="new_timer_script_form" class="btn btn-success button_new_sub_class mb-2 mr-sm-2"><i class="far fa-file"></i> Create timer script</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="nav-user_html" role="tabpanel" aria-labelledby="nav-user_html-tab">
                        <div class="table-responsive">
                            <table class="table table-sm table-hover table-striped table-bordered" id="user_html_list_table"></table>
                        </div>
                        <form class="form-inline">
                            <input class="form-control mb-2 mr-sm-2" id="new_user_html_form" type="text" placeholder="name_html_page">
                            <button type="button" id="new_user_html" filename-id="new_user_html_form" class="btn btn-success button_new_sub_class mb-2 mr-sm-2"><i class="far fa-file"></i> Create user html page</button>
                        </form>
                    </div>

                </div>

            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="system-js/jquery-slim.min.js"></script>
    <script src="system-js/popper.min.js"></script>
    <script src="system-js/bootstrap.min.js"></script>
    <script src="js/table.js"></script>
    <script src="js/webedit_list.js"></script>
    <script src="js/main.js"></script>
    <script src="js/menu.js"></script>


    <script>
        render_scripts_table("driver_list_table", "user/drivers");
        render_scripts_table("webevents_list_table", "user/webevents_scripts");
        render_scripts_table("user_html_list_table", "user/html");
        render_scripts_table("events_list_table", "user/events_scripts", bind_table_button_actions);
    </script>


</body>

</html>