body {
    zoom: 0.8;
}

.nav-link {
    padding: .3rem 0.5rem;
}

.table td {
    vertical-align: middle
}

.bus_colored {
    background: rgb(155, 204, 255);
}

.button_edit_sub_class {
    zoom: 0.8;
}