<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" href="favicon.ico">


   <title>Nokia IMPACT dashboard settings</title>

   <!-- Bootstrap core CSS -->
   <link href="bootstrap.min.css" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="dashboard.css" rel="stylesheet">
</head>

<body>
   <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Nokia IMPACT dashboard</a>
   </nav>

   <div class="container-fluid">
      <div class="row">
         <nav class="col-md-1 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
               <ul class="nav flex-column">
                  <li class="nav-item">
                     <a class="nav-link" href="/dashboard">
                        <span data-feather="home"></span>Dashboard</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/dashboard-subscriptions">
                        <span data-feather="file"></span>Subscriptions</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link active" href="/dashboard-settings">
                        <span data-feather="file"></span>Settings</a>
                  </li>
               </ul>

            </div>
         </nav>

         <main role="main" class="col-md-11 ml-sm-auto col-lg-11 pt-3 px-4">

            <form>
               <div class="row input-group">
                  <div class="col-md-2 mb-2">
                     <button type="button" id="settings_login_button" class="btn btn-success">Save settings</button>
                  </div>
                  <div class="col-md-3 mb-2">
                     <input type="text" class="form-control" id="impact_user_name" value="USER NAME">
                  </div>
                  <div class="col-md-3 mb-2">
                     <input type="text" class="form-control" id="impact_user_pass" value="USER PASS">
                  </div>
                  <div class="col-md-2 mb-2">
                     <input type="text" class="form-control" id="impact_user_tenant" value="TENANR">
                  </div>

               </div>

               <div class="row input-group">
                  <div class="col-md-2 mb-2">
                     <button type="button" id="register_callback_button" class="btn btn-success">Register callback</button>
                  </div>
                  <div class="col-md-5 mb-2">
                     <input type="text" class="form-control" id="callback_url" value="Callback URL">
                  </div>

               </div>

               <div class="row input-group">
                  <div class="col-md-2 mb-2">
                     <button type="button" id="get_token_button" class="btn btn-success">Get MQTT token</button>
                  </div>
                  <div class="col-md-4 mb-2">
                     <input type="text" class="form-control" id="mqtt_token" value="MQTT token">
                  </div>

               </div>

            </form>



         </main>
      </div>
   </div>

   <!-- Bootstrap core JavaScript
    ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
   <script src="popper.min.js"></script>
   <script src="bootstrap.min.js"></script>

   <script>
      var button_login_xhr = new XMLHttpRequest();
      $('#settings_login_button').on('click', function (event) {
         var impact_user_name = document.getElementById("impact_user_name").value
         var impact_user_pass = document.getElementById("impact_user_pass").value
         var impact_user_tenant = document.getElementById("impact_user_tenant").value
         var req = 'action?type=settings_login&impact_user_name=' + impact_user_name + '&impact_user_pass=' + impact_user_pass + '&impact_user_tenant=' + impact_user_tenant
         button_login_xhr.open('POST', req, true)
         button_login_xhr.send()
      });

      var button_callback_xhr = new XMLHttpRequest();
      $('#register_callback_button').on('click', function (event) {
         var callback_url = document.getElementById("callback_url").value
         var req = 'action?type=register_callback&callback_url=' + callback_url
         button_callback_xhr.open('POST', req, true)
         button_callback_xhr.send()
      });

      var button_token_xhr = new XMLHttpRequest();
      function update_field_token() {
         if (button_token_xhr.readyState == 4 && button_token_xhr.status == 200) {
            var json_data = JSON.parse(button_token_xhr.responseText);
            console.log(json_data);
            if (json_data.none_data != "true") {
               document.getElementById("mqtt_token").value = json_data.data
            }

         }

      }
      $('#get_token_button').on('click', function (event) {
         button_token_xhr.open('POST', 'action?type=get_token', true)
         button_token_xhr.onreadystatechange = update_field_token
         button_token_xhr.send()
      });

   </script>


</body>

</html>
